<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>You reached the end of the quiz!</p>
    <main>
      <h2>Score: <%= finalScore %></h2>
      <br>
      <a href="/">Play again?</a>
    </main>
  </body>
</html>
